We already know how to work with **numbers**. Numbers can be of different types. FOr example: Integer, Float

In [1]:
42

42

In [2]:
4.3

4.3

In [3]:
#create a variable to store integer and then checks its type

num = 4
type(num)

int

In [4]:
num = 4.3
type(num)

float

We can do different operations on numbers in Python

In [6]:
# Addition

2 + 3

5

In [7]:
#Subtraction

4 - 2

2

In [8]:
#multiplication

2 * 2

4

In [9]:
# division

4 / 2

2.0

In [10]:
# integer division

4 // 2

2

 '/' single slash is used to give answer in float number while '//'  double slash is used to give answer in integer

In [11]:
# exponential

2 ** 3

8

2 ** 3 = 2 * 2 * 2 = 8

we can combine the operators and can do different complex calculations

In [12]:
3 * 2 + 1

7

In [13]:
( 2 + 3) * 4

20

All the opeartors except ** are left-association. that means the application of the operators starts from left to right.

    in above example 
    step - 1: solve parenthesis ( 2 + 3 ) = 5
    step - 2: Now multiply 5 with 4, as 5 * 4 = 20 

        so answer is 20

## Thank You!

If you have any query, then don't forget to comment here. :)